//Colors from http://design-seeds.com/index.php/home/entry/frosted-summer1

$firstColor: #f6804e;
$secondColor: #eab164;
$thirdColor: #abc087;
$fourthColor: #67a888;


$light-text: #f2f2f2;
$dark-text: #222;

$fancy-text: 'Shadows Into Light Two', cursive;

$rounded: 15px;

$small: new-breakpoint(max-width 950px);
// Mixins 
@mixin center-block {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}

