<div class="img">
</div>
<div class="about center">
  {% assign about = site.data.about %}
  <div class="text">
    <h1 class="no-margin-bottom line-height-normal blue">{{ about.name }}</h1>
    <h2 class="no-margin-top">{{ about.subtitle }}</h2>
    <div class="contact">
      <a href="https://www.linkedin.com/in/colleenlbeach" target="_blank">
        {% include svg/linked-in.svg %}
      </a>
      <a href="https://github.com/lizardinthewires" target="_blank">
        {% include svg/github.svg %}
      </a>
      <a href="mailto:colleenlbeach@gmail.com">
        {% include svg/email.svg %}
      </a>
    </div>
  </div>
</div>
