// variables

$white: #F2F2F2
$black: #000A1E
$blue: #00AABE

// base

*
  box-sizing: border-box

body
  background: $white
  color: $black
  display: -ms-grid
  display: grid
  font: 18px/1.5 'Roboto', 'Helvetica Neue', Helvetica, sans-serif
  margin: 0
  overflow-x: hidden
  -moz-osx-font-smoothin: grayscale
  -webkit-font-smoothing: antialiased
  font-smooth: auto

h1, h2
  font-weight: 300
h1
  font-size: 4rem
  letter-spacing: -1.5px
h2
  font-size: 2rem
  letter-spacing: -0.5px

// grid

.about
  grid-column: col 3 / span 1
  grid-row: row

.img
  grid-column: col / span 3
  grid-row: row


.skills
  grid-column: col / span 3
  grid-row: row 2

.portfolio
  grid-column: col / span 3
  grid-row: row 3

.cv
  grid-column: col / span 3
  grid-row: row 4

.footer
  grid-column: col / span 3
  grid-row: row 5


// layout

.img
  background: url('/assets/images/colleen_beach.jpg') center left
  background-size: cover
  min-height: 105vh

.about
  background: $white
  box-shadow: 0 0 0.5rem rgba($black, 0.25)
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  transform: skew(-15deg, 0) translateX(5.5rem)
  overflow: hidden
  padding: 0 6rem
  .text
    transform: skew(15deg, 0)
  .contact
    display: -ms-flex
    display: flex
    justify-content: space-between
    margin: auto
    width: 10rem
    svg
      height: 2.5rem
    a
      color: $blue
      transition: all 0.2s ease-in-out
      &:hover
        color: $black

.skills
  background: $blue
  box-shadow: -0.25rem 0 0.5rem rgba($black, 0.25)
  color: $white
  padding: 3rem 6rem 1rem
  ul
    list-style: none
.skills-list
  display: -ms-flex
  display: flex
  justify-content: space-between
  dl
    column-count: 2

.portfolio
  background: $black
  color: $white
  padding: 3rem 6rem
.projects
  display: -ms-flex
  display: flex
  flex-wrap: wrap
  justify-content: space-around
.project
  margin: 0
  padding: 2rem
  width: 50%
  img
    max-width: 100%
  a
    color: $white
    text-decoration: none


.cv
  background: $white
  padding: 3rem 6rem
  dt
    margin-top: 2rem
  dd
    margin-left: 0

// helpers

.blue
  color: $blue

.no-margin-top
  margin-top: 0
.no-margin-bottom
  margin-bottom: 0

.line-height-normal
  line-height: normal

.center
  text-align: center
.right
  text-align: right
