// variables

$orange: #FFA259
$teal: #A0D1CA
$white: rgba(255,255,255, 0.85)
$black: rgba(51,22,0,0.95)
$black-light: rgba(51,22,0,0.30)

// base

*
  box-sizing: border-box

body
  background: $orange url('/assets/images/colleen_beach.png') right no-repeat fixed
  background-size: contain
  color: $black
  display: -ms-grid
  display: grid
  grid-template-columns: 75% 25%
  grid-template-rows: 25% 75%
  grid-row-gap: 5rem
  font: 18px/1.5 'Roboto', 'Helvetica Neue', Helvetica, sans-serif
  margin: 2rem 10rem 0rem
  -moz-osx-font-smoothin: grayscale
  -webkit-font-smoothing: antialiased
  font-smooth: auto

h1, h2
  font-family: Roboto Black
  line-height: 1.2
h1
  font-size: 3.75rem
  letter-spacing: -1.5px
h2
  font-size: 2.25rem
  letter-spacing: -0.5px

// desktop layout

nav, footer
  grid-column: 1 / span 2
  display: flex
  column-gap: 2rem
  a
    text-size: 1.2rem
    color: $white
    font-weight: 600
    text-decoration: none
    &:hover
      color: #ffffff
nav
  justify-content: end
  column-gap: 3rem

footer img
  height: 2.25rem

.text
  max-width: 75%

  a
    background: $black-light
    color: $teal
    font-weight: 600
    text-decoration: none
    padding-right: 0.15rem
    padding-left: 0.15rem


// helpers
.teal
  color: $teal
.white
  color: $white
.center
  text-align: center
